* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background-color: gray;
    padding: 16px;
    border-radius: 18px;


}



.container #output {
    flex: 1;
    border: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 12px;



}

.container #output .outputText {
    align-self: flex-end;
    font-size: 18px;
    padding: 10px 10px 10px 0px;

}

.container #output .outputResult {
    align-self: flex-end;
    justify-self: center;
    font-size: 26px;
    padding-right: 10px;


}

.container .btn-container {
    flex: 4;
    display: flex;
}

.container .btn-container>* {
    margin: 4px;

}

.container .btn-container .numbers {
    flex: 1.5;
}

.container .btn-container .operators-container {
    flex: 1;
}

.container .btn-container .operators-container {
    display: flex;
    gap: 5px;
}

.container .btn-container .numbers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .btn-container .numbers>* {
    flex: 1;
}

.container .btn-container .numbers .numbers-container {
    display: flex;
    gap: 5px;
}

.container .btn-container .numbers .numbers-container>* {
    flex: 1;
    background-color: #505050;
    color: #D4D4D2;
    font-size: 36px;
    border-radius: 12px;
    border: none;

}

.container .btn-container .numbers .numbers-container>*:hover{

    background-color: #202020;


}


.container .btn-container .operators-container>* {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .btn-container .operators-container button {
    background-color: #1C1C1C;
    color: #D4D4D2;
    border-radius: 12px;
    font-size: 36px;
    flex: 1;
    border: none;

}

.container .btn-container .operators-container button:hover {
    background-color: #413d3d;

}


.container .btn-container .operators-container .equal {
    flex: 2;
    background-color: royalblue;
    border: none;
}

.container .btn-container .operators-container .equal:hover {
    background-color: #254ab8;
}

.container .btn-container .numbers .numbers-container .clear {
    background-color: #FF9500;
    border: none;
}

.container .btn-container .numbers .numbers-container .clear:hover {
    background-color: #c07a19;
}